root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bash,sh}]
indent_size = 2

[*.{css,scss}]
indent_size = 2

[*.{js,ts}]
indent_size = 2

[*.{json,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.txt]
indent_style = tab
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.scala]
indent_size = 2

[*.xml]
indent_size = 4
indent_style = tab
