#!/usr/bin/env bash

# Disable zsh warning on macOS
export BASH_SILENCE_DEPRECATION_WARNING=1

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# NPM configuration
export NPM_CONFIG_GLOBALCONFIG="$HOME/.global.npmrc"

# Root mkcert certificate
if [[ -d $(brew --prefix mkcert)/bin ]]; then
  export NODE_EXTRA_CA_CERTS="$(mkcert -CAROOT)/rootCA.pem"
fi

