init.author.email=${USER_AUTHOR_EMAIL}
init.author.name=${USER_AUTHOR_NAME}
init.license=MIT
init.version=0.0.1
loglevel=silent
package-lock=true
registry=https://registry.npmjs.com/
scripts-prepend-node-path=true
sign-git-tag=true
